<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="flex p-16 flex-col pb-0">
    @if (viewAll) {
    <div class="flex w-full flex-row pb-2 cursor-pointer items-center" (click)="toggleViewAll()"
        (keyup)="toggleViewAll()">
        <i class="pi pi-chevron-left text-xs"></i>
        <h4 class="pl-2">Back</h4>
    </div>
    }
    <h1>{{'foodSpecials.heading' | translate}}</h1>
    <h2>{{'foodSpecials.subHeading' | translate}}</h2>
</div>
@if(!viewAll){
<div class="w-full p-16">
    <div class="flex w-full flex-row-reverse pr-16 pb-2 cursor-pointer items-center" (click)="toggleViewAll()"
        (keyup)="toggleViewAll()">
        <i class="pi pi-chevron-right text-xs"></i>
        <h4 class="pr-2">View all</h4>
    </div>
    <app-carousel [products]="blobUrls"></app-carousel>
</div>
}@else{
<div class="grid gap-20 p-16 md:grid-cols-5">
    @for (blob of blobUrls; track blob;) {
    <app-card [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
        <img [src]="blob" class="shadow-none" alt="Image special unavailable">
    </app-card>
    }
</div>
}