<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="flex p-4 md:p-16 flex-col pb-0 w-full">
  @if (viewAll) {
    <div
      class="flex w-full flex-row pb-2 cursor-pointer items-center"
      (click)="toggleViewAll('')"
      (keyup)="toggleViewAll('')"
    >
      <i class="pi pi-chevron-left text-xs"></i>
      <h4 class="pl-2">{{ backButtonText}}</h4>
    </div>
  }
  <h1>{{ specialsHeading}}</h1>
  <h2>{{specialsSubHeading}}</h2>
</div>
@if (!viewAll) {
  <div class="w-full p-4 md:p-16">
    <div class="grid grid-cols-3 gap-4 mt-2 mb-2">
      <div
        class="flex w-full flex-row pb-2 md:pl-16 col-span-2 cursor-pointer items-center"
      >
        <h5 class="pr-2">{{ foodSpecialsHeading }}</h5>
      </div>
      <div
        class="flex w-full flex-row-reverse pb-2 cursor-pointer items-center md:pr-16"
        (click)="toggleViewAll('food')"
        (keyup)="toggleViewAll('food')"
      >
        <i class="pi pi-chevron-right text-xs"></i>
        <h2 class="pr-2">{{ viewButtonText}}</h2>
      </div>
    </div>
    <div class="flex flex-col mb-16">
      <app-carousel [products]="foodUrls"></app-carousel>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-2 mb-2">
      <div
        class="flex flex-row pb-2 col-span-2 cursor-pointer items-center md:pl-16"
      >
        <h5 class="pr-2">{{liquorSpecialsHeading }}</h5>
      </div>
      <div
        class="flex flex-row-reverse pb-2 cursor-pointer items-center md:pr-16"
        (click)="toggleViewAll('alc')"
        (keyup)="toggleViewAll('alc')"
      >
        <i class="pi pi-chevron-right text-xs"></i>
        <h2 class="pr-2">{{ viewButtonText }}</h2>
      </div>
    </div>
    <div class="flex flex-col mb-16">
      <app-carousel [products]="alcUrls"></app-carousel>
    </div>
  </div>
}

@if (viewAll && viewAllFood) {
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4 md:p-16"
  >
    @for (blob of foodUrls; track blob) {
      <app-card
        [style]="{
          'box-shadow':
            '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
        }"
      >
        <img
          [src]="blob"
          class="shadow-none"
          [alt]="'imageAlt'"
          loading="lazy"
        />
      </app-card>
    }
  </div>
}

@if (viewAll && viewAllAlc) {
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4 p-4 md:p-16"
  >
    @for (blob of alcUrls; track blob) {
      <app-card
        [style]="{
          'box-shadow':
            '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
        }"
      >
        <img
          [src]="blob"
          class="shadow-none"
          [alt]="'imageAlt'"
          loading="lazy"
        />
      </app-card>
    }
  </div>
}
