<div class="flex p-4 md:p-16 flex-col pb-0">
    <h1 class="text-lg md:text-2xl">{{'contact.heading' | translate}}</h1>
    <h2 class="text-md md:text-xl">{{'contact.subHeading' | translate}}</h2>
</div>
<div class="flex flex-col md:flex-row p-4 md:p-16 pt-4 w-full justify-start items-start">
    <div class="grid grid-cols-1 gap-8 w-full">
        <div class="flex justify-center items-center p-4 md:p-8 md:pl-0 w-full">
            <app-card class="w-full md:w-96 h-auto md:h-496"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}"
                [header]="'contact.heading' | translate">
                <ul class="flex flex-col">
                    @for (item of sContactContent(); track item) {
                    <li class="p-2 flex flex-row items-center">
                        <i [class]="item.icon" class="text-xl md:text-2xl pr-4"></i>
                        <h4 class="text-sm md:text-base">{{item.text}} </h4>
                    </li>
                    }
                    <div class="flex mt-4">
                        <app-button (click)="navigateToDirections()" [label]="'contact.button.text'|translate"
                            [icon]="'contact.button.icon'| translate"
                            style="color: white;padding: 8px; background-color: #00A54F;border-radius: 10px;"></app-button>
                    </div>
                </ul>
            </app-card>
        </div>
        <div class="flex justify-center items-center p-4 md:p-8 w-full">
            <app-card [header]="'contact.tradingHeading' | translate" class="w-full md:w-96 h-auto md:h-496"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
                <ul class="flex flex-col">
                    @for (timestamp of sTradingHourContent(); track timestamp) {
                    <div class="flex flex-row">
                        <li class="p-2 flex flex-row">
                            <h4 class="text-sm md:text-base">{{timestamp.day}} </h4>: {{timestamp.time}}
                        </li>
                    </div>
                    }
                </ul>
            </app-card>
        </div>
    </div>
</div>