<p-sidebar [(visible)]="sidebarVisible" position="right" [baseZIndex]="-1">
  <ul>
    @for (item of buttontexts; track item) {
      <li class="m-2 p-1">
        <a
          routerLinkActive="border-b-4 border-green"
          [routerLinkActiveOptions]="{
            exact: item.key === 'homeButtonText',
          }"
          [routerLink]="item.routerLink"
        >
          {{ item.value }}
        </a>
      </li>
    }
  </ul>
</p-sidebar>
<p-button (click)="toggleSideBar()" icon="pi pi-bars" />
