<p-sidebar [(visible)]="sidebarVisible" position="right" [baseZIndex]="-1">
  <ul>
    <li
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      class="m-2 p-2 rounded-lg cursor-pointer"
    >
      <a>{{ "sidebar.home" | translate }}</a>
    </li>
    <li
      routerLinkActive="active"
      routerLink="/food-specials"
      class="m-2 p-2 rounded-lg cursor-pointer"
    >
      <a>{{ "sidebar.foodSpecials" | translate }}</a>
    </li>
    <li
      routerLinkActive="active"
      routerLink="/staff"
      class="m-2 p-2 rounded-lg cursor-pointer"
    >
      <a>{{ "sidebar.staff" | translate }}</a>
    </li>
    <li
      routerLinkActive="active"
      routerLink="/contact"
      class="m-2 p-2 rounded-lg cursor-pointer"
    >
      <a>{{ "sidebar.contact" | translate }}</a>
    </li>
  </ul>
</p-sidebar>
<p-button (click)="toggleSideBar()" icon="pi pi-bars" />
