<div class="flex p-16 flex-col pb-0">
    <h1>{{'staff.heading' | translate}}</h1>
    <h2>{{'staff.subHeading' | translate}}</h2>
</div>
<div class="flex flex-row p-16 w-screen justify-start items-start flex-wrap">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
        <div class="flex justify-center items-center p-8 w-full">
            <app-card class="w-full md:w-515 h-496"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
                <div class="flex flex-col justify-center items-center">
                    <img [src]="ownerUrl" alt="Owner Image Unavailable" class="rounded-full h-52 mb-8">
                    <h3>{{'staff.owner.name' | translate}}</h3>
                    <h2>{{'staff.owner.title' | translate}}</h2>
                </div>
                <p class="text-justify mt-4">{{'staff.owner.info' | translate}}</p>
            </app-card>
        </div>
        <div class="flex justify-center items-center p-8 w-full">
            <app-card class="w-full md:w-515 h-496"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
                <div class="flex flex-col justify-center items-center">
                    <img [src]="managerUrl" alt="Manager Image Unavailable" class="rounded-full max-h-52 mb-8">
                    <h3>{{'staff.manager.name' | translate}}</h3>
                    <h2>{{'staff.manager.title' | translate}}</h2>
                </div>
                <p class="text-justify mt-4">{{'staff.manager.info' | translate}}</p>
            </app-card>
        </div>
    </div>
</div>