<div class="flex flex-col md:flex-col p-4 md:p-16 w-full">
  <div class="flex flex-col p-4 md:p-16 pb-0">
    <h1 class="text-lg md:text-2xl text-left">
      {{ "staff.heading" | translate }}
    </h1>
    <h2 class="text-md md:text-xl text-left">
      {{ "staff.subHeading" | translate }}
    </h2>
  </div>
  <div
    class="grid grid-cols-1 gap-8 md:grid-cols-2 w-full max-w-screen-lg md:p-16 md:pt-0 p-4"
  >
    <div class="flex justify-center items-center">
      <app-card
        class="w-full"
        [style]="{
          'box-shadow':
            '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
        }"
      >
        <div class="flex flex-col justify-center items-center">
          <img
            [src]="ownerUrl"
            [alt]="'imageAlt' | translate"
            class="rounded-full h-32 md:h-52 mb-4 md:mb-8"
            loading="lazy"
          />
          <h3 class="text-lg md:text-xl text-center w-full">
            {{ "staff.owner.name" | translate }}
          </h3>
          <h2 class="text-md md:text-lg text-center">
            {{ "staff.owner.title" | translate }}
          </h2>
        </div>
        <p class="md:text-justify mt-4 text-sm md:text-base">
          {{ "staff.owner.info" | translate }}
        </p>
      </app-card>
    </div>
    <div class="flex justify-center items-center">
      <app-card
        class="w-full"
        [style]="{
          'box-shadow':
            '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
        }"
      >
        <div class="flex flex-col justify-center items-center">
          <img
            [src]="managerUrl"
            [alt]="'imageAlt' | translate"
            class="rounded-full h-32 md:h-52 mb-4 md:mb-8"
            loading="lazy"
          />
          <h3 class="text-lg md:text-xl text-center w-full">
            {{ "staff.manager.name" | translate }}
          </h3>
          <h2 class="text-md md:text-lg text-center">
            {{ "staff.manager.title" | translate }}
          </h2>
        </div>
        <p class="text-justify mt-4 text-sm md:text-base">
          {{ "staff.manager.info" | translate }}
        </p>
      </app-card>
    </div>
  </div>
</div>
