<div class="flex p-4 md:p-16 flex-col pb-0">
    <h1 class="text-lg md:text-2xl">{{'staff.heading' | translate}}</h1>
    <h2 class="text-md md:text-xl">{{'staff.subHeading' | translate}}</h2>
</div>
<div class="flex flex-col md:flex-row p-4 md:p-16 w-full justify-start items-start">
    <div class="grid grid-cols-1 gap-8 w-full">
        <div class="flex justify-center items-center p-4 w-full">
            <app-card class="w-full md:w-96"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
                <div class="flex flex-col justify-center items-center">
                    <img [src]="ownerUrl" [alt]="'imageAlt' | translate" class="rounded-full h-32 md:h-52 mb-4 md:mb-8">
                    <h3 class="text-lg md:text-xl">{{'staff.owner.name' | translate}}</h3>
                    <h2 class="text-md md:text-lg">{{'staff.owner.title' | translate}}</h2>
                </div>
                <p class="text-justify mt-4 text-sm md:text-base">{{'staff.owner.info' | translate}}</p>
            </app-card>
        </div>
        <div class="flex justify-center items-center p-4 w-full">
            <app-card class="w-full md:w-96"
                [style]="{'box-shadow': '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)'}">
                <div class="flex flex-col justify-center items-center">
                    <img [src]="managerUrl" [alt]="'imageAlt' | translate"
                        class="rounded-full h-32 md:h-52 mb-4 md:mb-8">
                    <h3 class="text-lg md:text-xl">{{'staff.manager.name' | translate}}</h3>
                    <h2 class="text-md md:text-lg">{{'staff.manager.title' | translate}}</h2>
                </div>
                <p class="text-justify mt-4 text-sm md:text-base">{{'staff.manager.info' | translate}}</p>
            </app-card>
        </div>
    </div>
</div>